<div class="authors">
	<h3>Listado de Autores:</h3>
	<div class="author">
		<p><span>Nombre: </span>Juan Francisco Ar&eacute;valo L&oacute;pez-Reina</p>
		<img src="https://gravatar.com/avatar/d7dd0d22e0d798ef97d9fed0358159cf" alt="Imagen Practica"/>
	</div>
</div>